<c-row ngPreserveWhitespaces>
  
     <!-- #############    bla bla ############################################################ --> 
  
  <c-col xs="12">
    <c-card class="mb-4">
      <c-card-body>
            <h4 class="mb-32">Drone Inspection Steps</h4>
        <hr>
        <br><br>
      
        <p class="text-medium-emphasis small">
          Inspection drones are transforming manual inspection processes, 
          allowing inspectors to speed up their collection of inspection data 
          while removing slower manual steps that place them in danger.
        </p>
        <br><br>
  <h4 style="text-align: center ;color: black;">We have 3 steps to finish the inspection</h4>
  <br><br>
       </c-card-body>
    </c-card>
  </c-col>

    <!-- #############    collect image ############################################################ -->

     <c-col xs="12">
               <c-card class="mb-4">
    
                <c-card-body>
      
      
        
        <div >
          
   <h1 >Collectiong images</h1>
   <button cButton color="primary" size="lg"><c-spinner aria-hidden="true" size="sm" variant="grow"></c-spinner> Loading...</button>
 </div><br>
        
      
          </c-card-body>
         </c-card>
    </c-col>
    <!-- #############    sending image ############################################################ -->
         
   
    <c-col xs="12">
      <c-card class="mb-4">
        
        <c-card-body>
          
  
                   
                      
                    
  
          <div >
           
     <h1 >Sending images</h1>
     <button cButton color="primary" size="lg"><c-spinner aria-hidden="true" size="sm" variant="grow"></c-spinner> Loading...</button>
   </div><br>
          
          
        </c-card-body>
      </c-card>
    </c-col>

    <c-col xs="12">
      <c-card class="mb-4">
        
        <c-card-body>
          
  
                   
                      
                    
  
          <div >
            
     <h1 >3D Reconstruction</h1>
     <button cButton color="primary" size="lg"><c-spinner aria-hidden="true" size="sm" variant="grow"></c-spinner> Loading...</button>
   </div><br>
          
          
        </c-card-body>
      </c-card>
    </c-col>



    
</c-row>

        