<c-row ngPreserveWhitespaces>
  
  <!-- #############  end inspection   bla bla ############################################################ --> 

<c-col xs="12">
 <c-card class="mb-4">
   <c-card-body>
         <h4 class="mb-32">End the inspection</h4>
     <hr>
     <br><br>
   
     <p class="text-medium-emphasis small">
       Inspection drones are transforming manual inspection processes, 
       allowing inspectors to speed up their collection of inspection data 
       while removing slower manual steps that place them in danger.
     </p>
     <br><br>
<br><br>
    </c-card-body>
 </c-card>
</c-col>

 <!-- #############    collect image ############################################################ -->

  <c-col xs="12">
            <c-card class="mb-4">
 
             <c-card-body>
   
   
     
     <div >
       
<h1 >Stop </h1><br>
<button cButton color="danger" size="lg">E,d inspection Now !</button>
</div><br>
     
   
       </c-card-body>
      </c-card>
 </c-col>
 


 
</c-row>

     