<c-row ngPreserveWhitespaces>

  <c-col xs="12">
    <c-card class="mb-4" style="background-image: url(./assets/img/avatars/contact.jpg);background-repeat: no-repeat;background-size: cover;" >
      <c-card-body>
        <h4 class="mb-32"> Get in touch </h4>
        <hr>
        <br><br>
                <p style="color: black; font-size: 25px;">
                  Want to get in touch? We'd love to hear from you. Here's how you can reach us...
                </p>  <br><br>
        <c-row>



<!-- phone call #########################################"""""" -->
<c-col>
            <c-card class="mb-3" style="border-radius: 20px; background-color: #ffffff60;">
              
              <c-card-body>
                <h4 cCardTitle style="text-align:center; color:black;font-family: cursive;">
                  <img  src="./assets/img/avatars/phone.png" style="border-radius: 50%; width: 100px;height: 100px;" >
                  <br><br><br>
                  Phone Talk </h4><br>
                <p cCardText style="text-align:center; color:black;font-family: cursive;">
                  Interested in TalanAir’s solution ? Just pick up the phone to chat with a member of our  team.
  
                </p>
                <br><br><br>
                
                <div class="d-grid gap-2" style="text-align: center; background-color: rgba(154, 255, 2, 0.612);">
                
                  <h4>+216 55 777 111</h4>
                  
                
                  </div>
              </c-card-body>
            </c-card>
</c-col>



<!-- text call#########################################"""""" -->
<c-col>
<c-card class="mb-3" style="border-radius: 20px; background-color: #ffffff60;">
  
  <c-card-body>
    <h4 cCardTitle style="text-align:center; color:black;font-family: cursive;">
      <img  src="./assets/img/avatars/msg.png" style="border-radius: 50%; width: 100px;height: 100px;">
      <br><br><br>
      Contact Our Engineer</h4><br>
    <p cCardText  style="text-align:center; color:black;font-family: cursive;">
      Sometimes you need a little help from your friends. Or a TalanAir support rep. Don’t worry… we’re here for you.
    </p>
    <br><br><br>
    
    <div class="d-grid gap-2" style="text-align: center; background-color: rgba(154, 255, 2, 0.612);">
                
      <h4>Talan@air.tn</h4>
      
    
      </div>
  </c-card-body>
</c-card>
</c-col>

</c-row>
 </c-card-body>
</c-card>
</c-col>
<!-- end team   #####################################--> 
 

  <c-col xs="12">
    <c-card class="mb-4">
      
      <c-card-body>
        <h4 class="mb-32"> Get in touch </h4>
        <hr>
        <br><br>
        <c-row [gutter]="4" class="mb-3" [md]="2" [lg]="1">
          <c-col >
            <c-card class="mb-3"><div cCardImg="top">
              <iframe class="gmap_iframe" frameborder="0" scrolling="no" marginheight="0" 
              marginwidth="0" 
              src="https://maps.google.com/maps?width=975&amp;height=224&amp;hl=en&amp;q=talan tunisie&amp;t=&amp;z=13&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"></iframe></div><style>.mapouter{position:cover;text-align:right;}.gmap_iframe
             {width:500px!important;height:500px!important;}</style>
              
              
              
              
              
              
              
              <c-card-body>
                <br>
                <h5 cCardTitle>111 Street 777, 2nd Floor
              <br>Tunis, Charguia
              <br><img src="./assets/img/avatars/flag.jpg" height="50px">TUNISIA 
              <br></h5> <br>
                <h5 cCardTitle>Phone / Fax<br>
                  TalanAir
                  <br> (+216 55 111 777)
              
                  <br>Fax: +216 77 555 555
                  
                </h5>
              </c-card-body>
              
            </c-card>
          </c-col>
          
        </c-row>
      </c-card-body>
    </c-card>
  </c-col>
  
  





































  