.mb-32{
    color: #1b929dc6;
    font-size: 60px;
    font-weight: bold;
    
    
  }

p{
    text-align: center;
    font-size: 19px;
    font-family: cursive;
    color: rgba(77, 77, 77, 0.87);
  }
hr{
    border: 3px solid #f57e80;
    opacity: 0.6;
  }
.mb-3{
    
    background-color: #ffffff60;
    
    border-radius: 30px;
}