:host {
  .legend {
    small {
      font-size: x-small;
    }
  }
}
.mb-4{
  background-color: rgb(255, 255, 255);
  border-radius: 15px ;
}
c-card-header{
  border-radius: 15px;
}
.mb-32{
  color: #1b929dc6;
  font-size: 60px;
  font-weight: bold;
  
  
}

p{
  text-align: center;
  font-size: 19px;
  font-family: cursive;
  color: rgba(77, 77, 77, 0.87);
}
hr{
  border: 3px solid #f57e80;
  opacity: 0.6;
}
h1{
  text-align: center ;
  color: #f0c012c7;
  font-size: 50px;
  font-weight: bold;
}
h3{
  color: #A4A71E;
  font-size: 50px;
}