<div class="fade-in" >
  
  
  
    <c-row ngPreserveBlackspaces>
      
  <!-- our  story#########################################"""""" -->
      <c-col xs="12"><br>
        <c-card class="mb-4">
          <c-card-body>
                <h4 class="mb-32">Inspection reports <br> what you should expect to see </h4>
            <hr>
            <br>
            
  <!-- crack rust charts  #########################################"""""" -->
            
            <c-row>
            <c-col xs="12" lg="6">
                <c-card class="mb-4">
                  <c-card-header>
                   <h3 style="color: #92ad0af0;">Crack Bar Chart</h3> 
                  </c-card-header>
                  <c-card-body>
                    <c-chart type="bar" [data]="crackBarData"></c-chart>
                  </c-card-body>
                </c-card>
              </c-col>


              <c-col xs="12" lg="6">
                <c-card class="mb-4">
                  <c-card-header>
                    <h3 style="color: #92ad0af0;">Rust Bar Chart</h3> 
                    
                  </c-card-header>
                  <c-card-body>
                    <c-chart type="bar" [data]="rustBarData"></c-chart>
                  </c-card-body>
                </c-card>
              </c-col>
            </c-row>
            <c-row>
              
              
              <c-col xs="12" lg="6">
                <c-card class="mb-4">
                  <c-card-header>
                    <h3 style="color: #92ad0af0;">Percentage Chart</h3> 
                    
                  </c-card-header>
                  <c-card-body>
                    <c-chart type="pie" [data]="chartPieData"></c-chart>
                  </c-card-body>
                </c-card>
              </c-col>
            </c-row>
            

            <br>
          </c-card-body>
         
        </c-card>
      </c-col>
  
  
  <!-- our team #########################################"""""" -->
     
      
  
  
  
    <!-- our values  #########################################"""""" -->
      <c-col xs="12"><br><br>
        
      </c-col>
  
  
  
           
              
  
  
              
            
  
  
  
  
  
  